@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: "Funnel Display", sans-serif;
  margin: 0;
  color: #00241B;
}

.dropdown-content {
  display: none;
}

.show {display: block;}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.content {
  display: flex;
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
  flex-direction: column;
}

.display-text {
  font-size: 100px;
  text-align: center;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 48px;
  align-items: center;
  width: 100%;
}

header h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 48px;
  align-items: center;
  width: 100%;
}

footer p {
  width: 200px;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  height: min-content;
}

a {
  color: inherit;
  text-decoration: none;  
}

a:hover { 
  text-decoration: underline;  
}


#logo {
  height: 78px;
  width: 59px;
}

#logo-group {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

#name-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



p {
  font-family: "Funnel Sans", sans-serif;
  margin: 0;
  color: #00241B;
}

.icon-button {
  height: min-content;
}

.card {
  display: flex;
  flex-direction: column;
  /* border: #D9D9D9 solid 1px; */
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16); 
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
}

.card .pill {
  position: absolute;
  inset: 16px;
}

.card-title {
  font-size: 32px;
}

.card-link p {
  color: #4E878C;
}

.pill {
  padding: 2px 12px;
  background-color: #B5FFE1;
  border-radius: 14px;
  height: fit-content;
  width: fit-content;
}

.page-title {
  font-size: 48px;
}

a h4 {
  color: #4E878C;
}