/* @import "tailwindcss"; */

h1, h2, h3, h4, h5, h6, p {
  font-family: "Petrona", sans-serif;
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
}

.dropdown-content {
  display: none;
}

.show {display: block;}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

body {
  background-color: #516851;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  max-width: 50rem;
  margin: auto;
  min-height: 100vh;
  flex-direction: column;
}

.display-text {
  font-size: 6.25rem;
  text-align: center;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
  width: auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  align-items: center;
  width: -webkit-fill-available;
}

.footer-text-left, .footer-text-right {
  text-align: center;
}

footer p {
  width: 12.5rem;
}

footer a {
  color: #FFFFFF;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  height: min-content;
}

#logo {
  height: 78px;
  width: 59px;
}

#logo-group {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

#name-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-button {
  height: min-content;
}

.card {
  display: none;
  flex-direction: column;
  background-color: #2A3026;
  position: relative;
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.16); 
  transition: ease .25s;
  max-width: 37.5rem;
}

.show {
  display: flex;
}

.card:hover {
  background-color: #22261F;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  padding: 1rem;
}

.card .pill {
  position: absolute;
  inset: 1rem;
}

.card-title {
  font-size: 2rem;
}

.pill {
  padding: 0.25rem 0.75rem;
  background-color: #FF9C2B;
  color: #000000;
  border-radius: 1rem;
  height: fit-content;
  width: fit-content;
  transition: ease .25s;
}

.btn {
  padding: .25rem .75rem;
  color: #FFFFFF;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  height: fit-content;
  width: fit-content;
  transition: ease .25s;
  cursor: pointer;
}

.btn:hover, .btn.active {
  background-color: #FF9C2B;
  border-color: #FF9C2B;
}

.btn.active p, .btn:hover p  {
  color: #000000;
}

a {
  text-decoration: none;
}

.link {
  display: inline-block;
  width: fit-content;
}

.link p, .link h2 {
  color: rgba(255, 255, 255, 0.75);
  padding-bottom: 0.125rem;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 0.125rem;
  background-repeat: no-repeat;
  transition:
    color 0.3s,
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.link:hover p {
  color: #fff;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 0.125rem;
}

/* .link::after {
  height: 2px;
  width: 0px;
  transition: ease .25s;
}

.link:hover::after {
  width: 100px;
} */

.page-title {
  font-size: 48px;
}

/* a h4, a p {
  color: rgba(255, 255, 255, 0.75);
  text-decoration-color: rgba(255, 255, 255, 0.75);
} */

.divider {
  /* width: 100%; */
  width: auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.card-container {
  display: grid;
  grid-template-columns: auto;
  width: auto;
  gap: 2.25rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-full, .container-md, .container-sm {
  padding: 2rem;
  gap: 2rem;
  width: auto;
  min-height: 100vh;
}

.content-container {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}

#btnContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

#hero-text {
  max-width: 56rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25 rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

#about-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

#portrait {
  width: 11.75rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 9999px;
}

/* Small */
@media (width >= 40rem) { 
  
}

/* Medium */
@media (width >= 48rem) { 
  h1 {
    font-size: 3rem;
  }

  #about-content {
    flex-direction: row;
  }

  #portrait {
    width: 16rem;
  }

  .card-container {
    grid-template-columns: auto auto;
  }

  footer {
    flex-direction: row;
  }
  .footer-text-left {
    text-align: left;
  }
  .footer-text-right {
    text-align: right;
  }
}

/* Large */
@media (width >= 64rem) { 
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  .container-full { 
    padding: 6rem;
  }

  .container-md { 
    padding: 3rem;
    max-width: 64rem;
  }

  .container-sm { 
    padding: 6rem;
    max-width: 56rem;
  }

  .content-container {
    grid-template-columns: auto auto;
  }
}

/* Extra Large */
@media (width >= 80rem) { 
  .card-container {
    grid-template-columns: auto auto auto;
  }
}