/* @import "tailwindcss"; */

h1, h2, h3, h4, h5, h6, p {
  font-family: "Petrona", sans-serif;
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
}

.dropdown-content {
  display: none;
}

.show {display: block;}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

body {
  background-color: #516851;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
  flex-direction: column;
}

.display-text {
  font-size: 100px;
  text-align: center;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 48px;
  align-items: center;
  width: auto;
}

header h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 48px;
  align-items: center;
  width: -webkit-fill-available;
}

footer p {
  width: 200px;
}

footer a {
  color: #FFFFFF;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  height: min-content;
}

#logo {
  height: 78px;
  width: 59px;
}

#logo-group {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

#name-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-button {
  height: min-content;
}

.card {
  display: none;
  flex-direction: column;
  background-color: #2A3026;
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16); 
  transition: ease .25s;
  max-width: 600px;
}

.show {
  display: flex;
}

.card:hover {
  background-color: #22261F;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
}

.card .pill {
  position: absolute;
  inset: 16px;
}

.card-title {
  font-size: 32px;
}

.pill {
  padding: 2px 12px;
  background-color: #FF9C2B;
  color: #000000;
  border-radius: 14px;
  height: fit-content;
  width: fit-content;
  transition: ease .25s;
}

.btn {
  padding: 4px 12px;
  color: #FFFFFF;
  border: 1px solid #ffffff;
  border-radius: 14px;
  height: fit-content;
  width: fit-content;
  transition: ease .25s;
  cursor: pointer;
}

.btn:hover, .btn.active {
  background-color: #FF9C2B;
  border-color: #FF9C2B;
}

.btn.active p, .btn:hover p  {
  color: #000000;
}

a {
  text-decoration: none;
}

.link {
  
  width: fit-content;
}

.link p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
  padding-bottom:2px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    color 0.3s,
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.link:hover p {
  color: #fff;
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

/* .link::after {
  height: 2px;
  width: 0px;
  transition: ease .25s;
}

.link:hover::after {
  width: 100px;
} */

.page-title {
  font-size: 48px;
}

/* a h4, a p {
  color: rgba(255, 255, 255, 0.75);
  text-decoration-color: rgba(255, 255, 255, 0.75);
} */

.divider {
  /* width: 100%; */
  width: auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.card-container {
  display: grid;
  grid-template-columns: auto;
  width: auto;
  gap: 36px;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-full, .container-md, .container-sm {
  padding: 32px;
  gap: 32px;
  width: auto;
  min-height: 100vh;
}

.content-container {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
}

#btnContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#hero-text {
  max-width: 896px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

#about-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

#portrait {
  width: 188px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 9999px;
}

/* Small */
@media (width >= 40rem) { 

}

/* Medium */
@media (width >= 48rem) { 
  h1 {
    font-size: 48px;
  }

  #about-content {
    flex-direction: row;
  }

  #portrait {
    width: 256px;
  }

  .card-container {
    grid-template-columns: auto auto;
  }
}

/* Large */
@media (width >= 1024px) { 
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 30px;
  }
  .container-full { 
    padding: 96px;
  }

  .container-md { 
    padding: 48px;
    width: 1024px;
  }

  .container-sm { 
    padding: 96px;
    width: 896px;
  }

  .content-container {
    grid-template-columns: auto auto;
  }
}

/* Extra Large */
@media (width >= 1280px) { 
  .card-container {
    grid-template-columns: auto auto auto;
  }
}